.heroSection {
  position: relative;
  height: 1220px;
  overflow: hidden;

  & .content {
    padding-top: 30px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 0 20px;
  }
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.videoBackground video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.text__mobile {
  display: none;
}

.text__back__img {
  transition: opacity 1s ease-in-out;
}

.text__back__img img {
  width: 100%;
}
.text__back__img__mobile {
  display: none;
}
.text__back__img.visible {
  opacity: 1;
}
.content__buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  width: 20%;
}
.twitter__btn:hover img {
  cursor: pointer;
  transition-duration: 0.5s;
  transform: scale(1.1);
  content: url("../../assets/images/tg_1.png");
}
.twitter__btn:active img {
  cursor: pointer;
  content: url("../../assets/images/tg_2.png");
}
.telegram__btn:hover img {
  cursor: pointer;
  transition-duration: 0.5s;
  transform: scale(1.1);
  content: url("../../assets/images/tw_1.png");
}
.telegram__btn:active img {
  cursor: pointer;
  content: url("../../assets/images/tw_2.png");
}
.running__text__block {
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media (max-width: 810px) {
  .heroSection {
    & .content {
      align-items: stretch;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
      row-gap: 25px;
    }
  }
  .text__back__img {
    display: none;
  }
  .text__back__img__mobile {
    display: block;
    width: 100%;
    order: 3;
  }
  .text__back__img__mobile img {
    width: 100%;
  }
  .text__back__img__mobile.visible {
    opacity: 1;
  }
  

  .twitter__btn img {
    content: url("../../assets/images/twmob.png");
  }
  .telegram__btn img {
    content: url("../../assets/images/telemob.png");
  }
}
