@import "../../assets/styles/app";

.header {
  padding: 16px 16px 0;
  position: relative;
  display: flex;
  justify-content: space-between;

  @include desktop {
    padding: 17.5px 17.5px 0;
  }

  .logo {
    display: block;
    text-decoration: none;
    width: calc(((100) / 1440) * 100vw);
    height: calc(((100) / 1440) * 100vw);

    @include desktop {
      width: calc(((54) / 375) * 100vw);
      height: calc(((54) / 375) * 100vw);
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
.text2WrapperImage{
  width: calc((265 / 375) * 100vw);
  @media (min-width: 600px) {
    width: calc(((409) / 1440) * 100vw);
  }
}
  
  .text1Wrapper, .text2Wrapper {
    @include centerRow;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(96px + (32 / 1440) * 100vw);
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 2px 0 0 #000;
    background: #fcd973;
    width: calc((339 / 375) * 100vw);
    height: calc(((160) / 375) * 100vw);
    transition: 0.3s;
    @media (min-width: 600px) {
      top: 32px;
      width: calc(((464) / 1440) * 100vw);
      height: calc(((219) / 1440) * 100vw);
      border-radius: 14px;
    }

    img {
      display: block;
      height: auto;
      position: relative;
    }
  }

  .text1Wrapper {
    img {
      width: 281px;

      @include desktop {
        width: 401px;
      }
    }
  }

  .text2Wrapper {
    img {
      width: calc((265 / 375) * 100vw);
      @media (min-width: 600px) {
        width: calc(((409) / 1440) * 100vw);
      }
    }
  }

  .socialLinks {
    display: flex;

    .socialLink {
      display: block;
      width: calc((64 / 1440) * 100vw);
      height: calc((66 / 1440) * 100vw);
      
      border-radius: calc((12 / 1440) * 100vw);
      padding: 1px 1px 3px;

      @include desktop {
        width: calc((48 / 375) * 100vw);
        height: calc((50 / 375) * 100vw);
        border-radius: calc((12 / 379) * 100vw);
        padding: 2px 2px 4px;
      }

      .inner {
        @include centerRow;
        width: 100%;
        height: 100%;
        border-radius: calc((12 / 1440) * 100vw);
        fill: #fcd973;
        border: 1px solid #000;
        box-shadow: 0 2px 0 0 #000;
        background: #fcd973;
        transition: 0.3s;
        @include desktop {
          border-radius: calc((12 / 379) * 100vw);
        }
      }

      &:nth-child(1) {
        svg {
          width: 100%;
          height: 40%;

          @include desktop {
            width: calc((21 / 375) * 100vw);
            height: calc((21 / 375) * 100vw);
          }
        }
      }

      &:nth-child(2) {
       
        margin-left: 8px;

        @include desktop {
          margin-left: 16px;
        }

        svg {
          width: 100%;
          height: 40%;

          @include desktop {
            width: calc((28 / 375) * 100vw);
            height: calc((23 / 375) * 100vw);
          }
        }
      }

      &:hover {

        .inner {
          background: #e6b44b;
        }
      }
    }
  }


}

