.statisticsSection {
  background-image: url("../../assets/images/kong.jpg");
  background-size: 100%;
  background-position:top;
  background-repeat: no-repeat;
  height: 100vh;;
  padding: 0 64px 0 0 ;

}

.header {
  width: 1130px;
  height: 154px;
  background-image: url("../../assets/images/desc_four.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

.textLayer {
  font-size: 39px;
  font-family: "Jingleberry";
  position: relative;
  padding: 5px;
}
.orange_text {
  color: #ffb032;
  text-shadow: 2px 2px 0px black, -2px 2px 0px black, 2px -2px 0px black,
    -2px -2px 0px black;
}

.notes {
  z-index: 1;
  position: absolute;
  left: calc((46 / 1440)* 100vw);
  top: calc(70px + (190 / 1440)* 100vw);
  & .row{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    height: fit-content;
    &:nth-child(2){
      margin-top: -20px;
      margin-left: 15px;
    }

  }
}
.notesWrapper {
  display: flex;
  flex-wrap: wrap;
}
.note {
  width: 50%;
  height: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  & span {
    font-family: "Jingleberry";
    color: black;
    font-size: 40px;
  }
}

.first_note {
  background-image: url("../../assets/images/first.png");
}
.second_note {
  background-image: url("../../assets/images/second.png");
}

.third_note {
  background-image: url("../../assets/images/three.png");
}

.fourth_note {
  background-image: url("../../assets/images/four.png");
}

.four_span {
  text-align: center !important;
}

.desc {
  width: 80% !important;
  font-size: 26px !important;
  text-align: center !important;
  font-family: "Syne" !important;
  margin-bottom: 40px;
  line-height: 200%;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.circle {
  width: calc(((448) / 1440) * 100vw);
  height: calc(((448) / 1440) * 100vw);
  flex-shrink: 0;
  & img {
    width: 100%;
    height: 100%;
  }
}
.statics {
  display: flex;
  flex-direction: column;
}

.footer_head {
  color: #5c6461;
  font-size: 108px;
  font-family: "Jingleberry";
}
.copy {
  margin-top: calc((29 / 1440) * 100vw);
  width: calc((781 / 1440) * 100vw);
  height: calc((234 / 1440) * 100vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img{
  
}
.row {
  width: 100%;
  height: calc(((120) / 1440) * 100vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  & span {
    font-size: calc((32 / 1440) * 100vw);
    font-family: "Jingleberry";
    color: rgba(255, 255, 255, 0.64);
  }
   & .img {
    width: calc(((324) / 1440) * 100vw);
    height: calc(((300) / 1440) * 100vw);
    cursor: pointer;
    background-size: 100%;
    &:nth-child(2){
      margin-left: -45px;
      margin-top: -20px;
    }
    &.img1{
      background-image: url("../../assets/images/1.png");
    }
    &.img2{
      background-image: url("../../assets/images/2.png");
    }
    &.img3{
      background-image: url("../../assets/images/3.png");
    }
    &.img4{
      background-image: url("../../assets/images/4.png");
    }
   }
}
.first_row {
  border-radius: 16px;
  width: calc(((286) / 1440) * 100vw);
  height: calc(((101) / 1440) * 100vw);
  background-image: url("../../assets/images/tiker.png");
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100%;
}
.second_row {
  width: calc(((476) / 1440) * 100vw);
  height: calc(((101) / 1440) * 100vw);
  background-image: url("../../assets/images/total.png");
  
}
.sec_row {
  background-image: url("../../assets/images/address.png");
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 16px;
  & img {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

@media (min-width: 600px) {
  .statisticsSection {
    height: 105vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: end;
    z-index: -1;
    padding-bottom: 30px;
  }

  .header {
    width: calc(((628) / 1440) * 100vw);
    height: calc(((98) / 1440) * 100vw);
    position: absolute;
    left:calc((66 / 1440) * 100vw);
    top:100px;
    background-image: url("../../assets/images/how_to_king.png");
  }
  .footer_head {
    font-size: calc((128 / 1440) * 100vw);
    text-align: center;
  }
  .footer {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    gap: calc((50 / 1440) * 100vw);
  }

  .animated_div {
    width: 48vw;
    height: 40vw;
    position: absolute;
    left: 42.3%;
    top: 4%;
  }
 
  .note.visible {
    opacity: 1;
    display: flex;
    width: 471px;
    margin-top: 80px;
  }

  .dots {
    display: none;
    position: relative;
    bottom: 280px;
    justify-content: center;
    gap: 40px;
  }

  .dots::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px dashed grey;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid black;
    cursor: pointer;
  }

  .dot.active {
    background-color: black;
  }

}


@media (max-width: 600px) {
  .statisticsSection {
    background-image: url("../../assets/images/mob_kong.png");
    background-position: top;
    height: auto;
    overflow: hidden;
  }
  .footer{
    margin-top: 1300px;
  }
  .row {
    flex-direction: column;
    gap: calc((20 / 379) * 100vw);
    height: auto;
    & span {
      font-size: calc((32 / 379) * 100vw);
    }
  }
  .first_row {
    width: 100%;
    height: calc((75 / 379) * 100vw);
    background-image: url("../../assets/images/m_tiker.png");
  }
  .second_row {
    width: 100%;
    text-align: center;
    height: calc((118 / 379) * 100vw);
    background-image: url("../../assets/images/m_total.png");
  }
  .sec_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: calc((91 / 379) * 100vw);
    background-image: url("../../assets/images/m_address.png");
  }
  .copy {
    align-items: center;
    gap: calc((20 / 379) * 100vw);
    height: auto;
  }
  .circle {
    width: calc((316 / 379) * 100vw);
    height: calc((316 / 379) * 100vw);
  }
  .footer_head {
    font-size: calc((50 / 379) * 100vw);
    text-align: center;
  }
}

@media (max-width: 600px) {

  .statisticsSection {
    background-image: url("../../assets/images/mob_kong.png");
    background-position: 0px 140px;
    background-color: #a8ced9;
    padding: 0px calc((10 / 379)* 100vw);
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .header {
    width: calc((339 / 379)* 100vw);
    height: calc((72 / 379)* 100vw);
    background-size: contain;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    width: 340px;
    gap:calc((32 / 379)* 100vw);
    margin-top: calc((330 / 379)* 100vw);
  }
  .copy {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .notes {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: static;
    justify-content: center;
    margin-top: 30px;
    height: calc(((300) / 379)* 100vw);;
    & .img {
      width: calc(((285) / 379)* 100vw);
      height: calc(((256) / 379)* 100vw);
    }
  }

  .note {
    width: 100%;
    flex-shrink: 0;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    display: none;
  }
  .animated_div {
    width: 125vw;
    height: 125vw;
    transform: translate(8px,35px);
  }
  .note.visible {
    opacity: 1;
    display: flex;
    width: 488px;
    margin-top: 80px;
  }

  .dots {
    position: static;
    bottom: 364px;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .dots::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px dashed grey;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid black;
    cursor: pointer;
  }

  .dot.active {
    background-color: black;
  }

  .statics {
    width: calc((285 / 379)* 100vw);
  }
}