.footer__section {
  background-image: url("../../assets/images/footersectionImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  height: calc((900/379)*100vw);
  padding: 70px 100px 0 100px;
}

.content {
  width: 584px;

  & img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

.media__block {
  display: none;
}

.footer__video {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: -100px;

  & video {
    width: 800px;
    height: 800px;
  }
}

.animation_data {
  margin-top: -50px;
}

footer {
  background-color: #fcd973;

  & .footer__flex {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #000;
    & .head__and__text {
      width: 25%;

      & img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    & .icon {
      width: 50%;

      & .tele__and__tw {
        display: flex;
        gap: 10px;
        justify-content: end;

        & .tele__blok img {
          width: 100%;
          height: 100%;
          display: block;
        }

        & .twitter__blok img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
  }
}

.tele__blok {
  & img:hover {
    cursor: pointer;
    content: url("../../assets/images/telegram2.png");
  }
}

.tele__blok {
  & img:active {
    color: #bd7400;
    content: url("../../assets/images/tg_4.png");
  }
}

.twitter__blok {
  & img:hover {
    cursor: pointer;
    content: url("../../assets/images/twitter2.png");
  }
}

.twitter__blok {
  & img:active {
    color: #bd7400;
    content: url("../../assets/images/tw_4.png");
  }
}

.copyright {
  display: flex;
  justify-content: end;
  padding: 20px 30px 30px 0;
  color: rgba(0, 0, 0, 0.678);
  font-size: 18px;
  font-family: Jingleberry;
  border-bottom: 1px solid rgba(0, 0, 0, 0.678);
}

@media (max-width: 1560px) {
  .footer__section {
    background-position: 25% bottom;
    padding: 70px 40px 0 100px;
  }

  .footer__video {
    justify-content: end;
    margin-top: -100px;

    & video {
      width: 700px;
      height: 700px;
    }
  }
}

@media (max-width: 1360px) {
  .footer__video {
    justify-content: end;
    margin-top: -100px;

    & video {
      width: 600px;
      height: 600px;
    }
  }
}

@media (max-width: 1250px) {
  .footer__section {
    background-position: 20% center;
    padding: 30px 20px 0 20px;
  }

  .content {
    width: 400px;

    & img {
      content: url("../../assets/images/footertextmob.svg");
    }
  }

  .hidden {
    transform: translateX(0);
  }

  .footer__video {
    justify-content: end;
    margin-top: 0px;

    & video {
      width: 400px;
      height: auto;
    }
  }
}

@media (max-width: 1050px) {
  .footer__section {
    background-position: center bottom;
    background-image: url("../../assets/images/footerbackImg.jpg");
  }

  .footer__video {
    margin-top: 0px;

    & video {
      width: 300px;
      height: auto;
    }
  }

  .footer__flex {
    padding: 30px 30px 0 30px;
    
    & .head__and__text {
      width: 30% !important;
    }

    & .icon {
      width: 25%;

      & .tele__and__tw {
        display: flex;
        gap: 20px;
        justify-content: end;
      }

      & .tele__blok img {
        content: url("../../assets//images/telefootermob.png");
        transform: scale(1);

        &:hover {
          transform: scale(1.2);
        }
      }

      & .twitter__blok img {
        content: url("../../assets//images/twfootermob.png");
        transform: scale(1);

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  .copyright {
    justify-content: center;
    padding: 20px 30px 30px 0;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .footer__section {
    background-position: 80%;
  }

  .content {
    width: 327px;
  }

  .footer__video {
    justify-content: center;

    & video {
      width: 370px;
    }
  }

  .footer__flex {
    & .head__and__text {
      width: 50% !important;
    }
  }
}

@media (min-width: 600px) {
  .footer__section {
    height: calc((900/1440)*100vw);
    background-image: url("../../assets/images/footersectionImg.jpg");
    position: relative;
  }

  .animation_data {
    position: absolute;
    right: 2vw;
    top:8vw;
    height: 50vw;
    width: 35vw;
  }
  .content {
    & img {
      content: url("../../assets/images/it_is_time_desktop.png");
    }
  }
}