.heroSection {
  background-image: url("../../assets/images/Kong_Central.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 1440px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.content__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content {
  background-image: url("../../assets/png/cityOverview/srcDesktop.png");
  width: 771px;
  height: 201px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 70px;
}
.content {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.content.visible {
  opacity: 1;
  transform: translateY(0);
}

.textLayer {
  font-size: 39px;
  font-family: "Jingleberry";
  position: relative;
  padding: 5px;
}
.orange_text {
  color: #ffb032;
  text-shadow: 2px 2px 0px black, -2px 2px 0px black, 2px -2px 0px black,
    -2px -2px 0px black;
}
.animated_div {
  width: 1010px;
  height: 1100px;
  margin-bottom: -150px;
}

@media (max-width: 1439px) {
  .content {
    width: 339px;
    height: 176px;
    background-image: url("../../assets/png/cityOverview/srcMobile.png");
    background-position: center;
    background-size: contain;
  }
  .animated_div {
    width: 100%;
  }
  .heroSection {
    background-position: 60%;
  }
}

@media (max-width: 480px) {
  .content {
    width: 301px;
    height: 135px;
  }
}
